<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimplePasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SimplePasswordManager.Custom" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SimplePasswordManager.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SimplePasswordManager.Properties.Settings>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="iv" serializeAs="String">
                <value />
            </setting>
        </SimplePasswordManager.Properties.Settings>
        <SimplePasswordManager.Custom>
            <setting name="EncryptedPassphrase" serializeAs="String">
                <value />
            </setting>
        </SimplePasswordManager.Custom>
    </userSettings>
</configuration>